﻿@{
    ViewData["Title"] = "The Start-up template";
}

<div class="jumbotron">
   
    
    <div class="h2">This is a template/tutorial, showing the fullstack development</div>
    <p>
        As a template, it’s a perfect boilerplate, for start-ups that want a mobile app, with a backend.<br/>
        You will be able to start your app and have it in test within the first month.<br/>
        I’m using Microsoft Azure as cloud hosting, and I can deploy directly on the backend from visual studio and have the backend up and running within a few days.<br/>
        The apps are using the basic UI from Apple and Google, so some UI/UX must be designed, this app is only showing the functionality.<br/>
        Note: Pleas find it in your heart, to credit me or one my companies (Per Friis Consult Aps or Friis Mobility ApS), if you use this template.

    <p>
        <strong>This template includes</strong>
    </p>
    
    <ul>
        <li><a href="https://bitbucket.org/friisconsult/foodfinder.api">.Net Core 2.0 backen, Web API (work in progress)</a><span class="pull-right small">preview state</span></li>
        <li><a href="https://bitbucket.org/friisconsult/foodfinder.web">.Net Core 2.0 MVC frontend, Web app </a><span class="pull-right small">preview state</span></li>
        <li>Auth0 as security provider</li>
        <li><a href="https://bitbucket.org/friisconsult/foodfinder.ios">iOS native mobile app </a><span class="pull-right small">preview state</span></li>
        <li>Android native mobile app<span class="pull-right small">Not started yet</span></li>
    </ul>
    
    <p>
        <strong>Disclamer</strong><br/>

        Yes it have to come, now it is in the front of the project.<br/>
        I Per Friis nor my companies, Per Friis Consult aps, Friis Mobility aps, have any responsibility in mishaps,
        data leak, accidents, wars, paper cuts or any other issues, that directly or remotly can be connteted to this 
        template/torturial/code.<br/>
        The leagal responsible for any product, anyone creates based on this template, are the responsible of the 
        company/individual it self.<br/>
        This is also the case for any issues related to EU's GDPR. 
    </p>

    <span class="pull-right small">Updated Marts 2018 - By Per Friis</span>
</div>

<p>
    In generel, I will use the "native" approach on all the solutions.<nr/>
    for the <em>Backend</em>, i'm using the standard ASP.NET core framework, using mainly Microsoft Libraies/Frameworks.<br/>
    <em>Front end</em> uses standard HTML5, Razor(c#) and Bootstrap 3. framework.<br/>
    <em>Security</em> is using <a href="https://auth0.com" target="auth0">Auth0</a> with standard implementation<br/>
    Finnaly the <em>Mobile App</em>, in this first version, I have choosen to make an iOS app, as iOS and Swift is my favorites,
    I just might make and Android version latet, but nothing is for certan
</p>

<dl>
    <dt>Backend</dt>
    <dd>
        The backend is based on a standard template <strong>"<a href="https://www.microsoft.com/net/core#macos" target="dotnetcore">ASP.NET core</a> web app"</strong>,
        created with <a href="https://www.visualstudio.com/vs/visual-studio-mac/" target="vs"> <strong>Visual Studio For Mac.</strong></a> 
        and <a href="https://www.jetbrains.com/rider/?fromMenu"><strong>Rider from JetBrains</strong></a>
    </dd>
    <dt>Web Front end</dt>
    <dd>
        Are based on <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor" target="razlor">Razor</a> and <a href="http://getbootstrap.com" target="bootstrap">Bootstrap 3</a>, still a part of the Backend project, from the ASP.NET core web template
    </dd>
    <dt>Security</dt>
    <dd>
        A lot of solutins, and especally tutorials, will ignore the security, which often gives you a lot of extra work, when you need to find a security, that fits your project.<br/>
        I have taken a like to <a href="https://auth0.com" target="auth0">Auth0</a>, this supports me with the services that I need in my pattens.
    </dd>
    <dt>Mobil App</dt>
    <dd>
        Today the mobile app, is a must, how ever, for me is't the most interesting, as I'm working as a Mobility Consultant.<br/>
        There is no doub in my mind, that all systems, must by default, have a mobile app, then you must argue, why an mobile app would not nessary! But start with the assumsion, that you need a mobile app.<br/>
        On the other hand, I don't know any great mobile apps (except maby games), that don't need a backend, in other words, You meed the <em>full stack</em>
    </dd>
</dl>

<p>
    you can make the components in the order you need, but I suggest to build all the tutorials.<br/>
    You can download the whole solution from <a href="https://bitbucket.org/account/user/friisconsult/projects/TP">BitBucket</a><br/>
</p>
<h3>My reccomended approach</h3>
<ul>
    <li>Create backend mvc project</li>
    <li>Implement backend data structur</li>
    <li>implement ApplicationKey filter for API</li>
    <li>Implement backend API</li>
    <li>Implement web front end, include login</li>
    <li>and now.... the mobile app</li>
</ul>
<p>
    I use this approace, to make sure, that the backend is working and that we have data, when we start developing the app
</p>
<div class="jumbotron">
    <h2 class="text-center">Issues</h2>
    <p>Please use BitBucket, to raise issues and suggestions, and bare in mind, that this sample/template project,
        must be simple and to the point, so all code must be commeted, to make sure that the purpose of the lines are understandable.<br/>
        Some of the code, are from other tutorials, like all the Auth0 implementation, and the comments must reflect the location of the external tutorials.
    </p>
    <h3>Known issues</h3>
    <ol>
        <li>API don't return "Unauthorized" but a login page to Auth0</li>
        <li>Not all code have been commented to the "Tutorial" that are needed</li>
    </ol>
</div>
